@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Space Grotesk', sans-serif;
  color: #0f172a;
  background-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #0f172a;
}
